<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id: </th>
                <th>Sender: </th>
                <th>Recipient: </th>
                <th>Origin: </th>
                <th>Destination: </th>
                <th>Location: </th>
            <tr>
        </thead>
        {% for package in packages %}
        <tbody>
            <tr>
                <td>{{package.id}}</td>
                <td>{{package.sender}}</td>
                <td>{{package.recipient}}</td>
                <td>{{package.origin}}</td>
                <td>{{package.destination}}</td>
                <td>{{package.location}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>